body {
   text-align: center;
   border: 1px solid;
}
a {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}
ul {
    background-color: rgb(102, 197, 79);
    border: 5px;
    border-color: rgb(0, 0, 0);
    border-bottom: 1rem;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style:none;
}