p {
    background-color: rgb(102, 197, 79);
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: aliceblue;
    font-weight: bolder;
    text-align: center;

}

